* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  background-color: rgb(113, 160, 220);
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* height:100%; */
  /* border:5px solid black; */
  overflow: hidden;
  /* width:100%; */
}

#container {
  background-color: white;
  /* height:100px; */
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  flex-direction: column;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  padding: 55px;
  gap: 10px;
}
.input-group {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 1px;
  border: 1px solid black;
  border-radius: 10px;
  /* background-color:blueviolet; */
  padding: 10px;
}
.username-field {
  height: 30px;
  /* width:50%; */
  padding: 5px;
  font-size: 15px;
  border: none;
  outline: none;
  flex-grow: 1;
  height: 100%;
}
#login {
  font-size: 25px;
}
.login-btn {
  height: 29px;
  padding: 5px;
  border-radius: 8px;
  border: none;
  background-color: rgb(57, 140, 168);
  width: 100px;
  color: white;
  transition-duration: 0.1s;
  cursor: pointer;
  transform: translateY(4px);
}
.login-btn:hover {
  background-color: maroon;
  box-shadow: 5px 5px 10px black;
  height: 35px;
}
