#calculator{
    border: 5px solid black;
    border-radius: 5px;
    width:200px
}
#display{
    margin:10px;
    width:85%;
    font-size:25px;
}
.button{
    width:45px;
    height:45px;
    margin:3px;
    /* background-color:gray; */
    /* background-color:rgb(228, 117, 117); */
    background-color:rgb(237, 189, 136);
}
.button-container{
    display:flex;
    justify-content:center;
    /* margin:0px 20px; */
    flex-wrap:wrap;
    background-color:rgb(169, 177, 129)
}